<a href="https://colab.research.google.com/github/Nithya-Satheesh/LETS_UPGRADE_ASSIGNMENT4/blob/main/LETS_UPGRADE4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
import pandas as pd
print(pd.__version__)

1.1.4

In [ ]:
#Question 2
import numpy as np
import pandas as pd

arr = np.array(['orange','apple','grape','mango'])
s = pd.Series(arr)
print(s)

0    orange
1     apple
2     grape
3     mango
dtype: object

In [16]:
#Question 3
import pandas as pd
import numpy as np
arr = np.array([1,4,65,12,55])
s = pd.Series(arr, index=[1001,1002,1002,1004,1005])
df = s.to_frame().reset_index()
df

   index   0
0   1001   1
1   1002   4
2   1002  65
3   1004  12
4   1005  55

In [17]:
#Question 4
import seaborn as sns
mpg = sns.load_dataset('mpg')
print (mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [19]:
#Question 5
import pandas as pd
import seaborn as sns
mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [21]:
#Queston 6
import pandas as pd
import seaborn as sns
mpg = sns.load_dataset('mpg')

df = pd.DataFrame(mpg)
df[df['origin'].str.contains('usa')]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]